{% extends "base_generic.html" %}

{% block title %}<title>Livraria Local</title>{% endblock %}

{% block content %}
    <h1>Local Library Home</h1>
    <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
        <li><strong>Genres:</strong> {{ num_genres }}</li>
    </ul>
    
{% endblock %}
{% block visit %}
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="row justify-content-center mt-5 w-100">
                <p class="text-muted">NUMERO DE VISITAS Á ESTA PÁGINA <span class="lead">{{ num_visits }}</span>
                </p>
            </div>
        </div>
    </div> 
{% endblock %}