{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>
    {% if livro_list %}
        
            
            {% for book in livro_list %}
                <div class="row align-items-center my-5">
                    <div class="col-sm-8 text-wraper">
                        <ul>
                            <li class="">
                                <a href="{{ book.get_absolute_url }}" class="mx-2">{{ book.titulo }}</a> ({{book.autor}})
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 d-flex justify-content-center">
                        {% if perms.catalogo.can_mark_returned %}
                            <a class="btn btn-sm btn-primary mx-2" href="{% url 'book-update' book.pk %}">
                                Update
                            </a>
                            <a href="{% url 'book-delete' book.pk %}" class="btn btn-warning mx-2">
                                Delete
                            </a>  
                        {% endif %}
                    </div>
                </div>
                <hr>

            {% endfor %}
            
        
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %} 
    <!-- {{livro_list.some_data}} -->
{% endblock %}